* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: 'Times New Roman', Times, serif;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

.overflow {
  overflow-y: scroll;
}

.search-container {
  display: none !important;
}
.search-container.active {
  display: flex !important;
}

.sidebar {
  display: none;
}

/*=============================================
=            Section button                   =
=============================================*/

.burger-button {
  display: none;
}
.exit-button {
  display: none;
}
@media screen and (max-width: 1100px) {
  .burger-button {
    width: 30px;
    display: flex;
  }
  .burger-button.hidden {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .sidebar.active {
    position: absolute;
    width: 100%;

    overflow-y: auto;
    display: block;
    background-color: white;
  }
  .sidebar-link {
    height: 1200px;
  }
  .exit-button {
    width: 30px;
    display: none;
  }
  .exit-button.show {
    display: flex;
  }
}

/*=====  End of Section button ======*/

.news {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 20px;
  flex: 1;
  max-width: 100%;
}

.section {
  text-transform: capitalize;
}

.date {
  display: none;
}

.abstract-mobile {
  display: none;
}

.abstract {
  display: none;
}

.main-content {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

.desc-image {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.image img {
  display: none;
  max-width: 100%;
}

.loading {
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  z-index: 1;
  display: flex;
}

.loading.hide {
  display: none;
}

.nyheader {
  width: 50%;
}

.nyimage {
  width: 200px;
}

/* change every 4th article */
.news:nth-child(4n + 1) {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 100%;
}

.news:nth-child(4n + 1) .image img {
  display: block;
  max-width: 100%;
}

.news:nth-child(4n + 1) .description {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 40%;
  width: auto;
}
.news:nth-child(4n + 1) .abstract {
  display: block;
}

.news:nth-child(4n + 1) .date {
  display: block;
}
.news:nth-child(4n + 1) .title {
  font-size: xx-large;
}

.footer-column {
  columns: 4;
  width: 100%;
  text-decoration: none;
  list-style: none;
}

.footer-column li {
  padding-bottom: 10px;
}

@media screen and (max-width: 1100px) {
  .news {
    flex: 1 0 40%;
  }
  .nav-section {
    display: none;
  }
  .search-toggle {
    display: none;
  }
  .news:nth-child(4n + 1) .title {
    font-size: x-large;
  }
}
@media screen and (max-width: 900px) {
  .news {
    flex: 1 0 100%;
  }
  .image,
  img {
    width: 100%;
  }
  .news:nth-child(4n + 1) .abstract-mobile {
    display: block;
  }
  .news:nth-child(4n + 1) .abstract {
    display: none;
  }
  .footer-column {
    columns: 2;
  }
}
